/*********************************************GENERAL*****************************/
body{
	background-color: #adadeb;
	margin:0;
	box-sizing: border-box;
}
h1{
	font-size:3rem;
	font-family: 'Courgette', cursive;
	display: block;
	text-align: center;
	color: white;
	text-shadow: 3px 0px 5px rgba(150, 150, 150, 1);
}
h2{
	font-size:2.5rem;
	font-style: italic;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
h3{
	font-size: 1.1rem;
	text-align: center;
	font-style: italic;
}
h3, h4, h5, h6,
p, a, li, span, input, i{
	font-family: 'Open Sans', sans-serif;
	color: #4dff4d;
	list-style-type: none;
}
a{
	text-decoration: none;
}
.container{
	max-width: 80%;
	margin:-100px auto 0	;
	background-color: white;
	z-index: 9;
	position: relative;
}
/*********************************************MAIN-HEADER*****************************/

.video{
	/*position: absolute;*/
	width: 100%;
	margin: 0 0 ;
	z-index: -1;
}
nav{
	text-align: center;
}
.main-header{
	position: absolute;
	top: 0px;
}
.main-header i{
	color:white;
}
.main-header h3{
	margin:1rem;
	padding: 1rem;
	display: inline-block;
	color: white;
	text-shadow: 3px 0px 5px rgba(150, 150, 150, 1);
}
.main-header ul{
	display: inline-block;
	text-align: center;
}
.main-header li{
	display: inline-block;
	margin: 1rem 3rem;
}
.main-header a{
	color: white;
	padding: 1rem;
}	
.main-header a:hover{
	transform:scale(2,2);
	transition: 0.5s; /****************???? kod4l neveikia???*/
}
.text{
	margin-top: 10rem;
}
.text h3{
	font-family: 'Courgette', cursive;
	font-style: normal;
	line-height: 2rem;
	font-size: 1.5rem;

}







/*********************************************SECOND-HEADER*****************************/
.header{
	width: 100%;
	background-color:  #3333cc;
}
.header input{
	display: block;
	margin: 0 auto;
	height: 3rem;
	border: 0px;
	width: 80%;
	background-color:  #3333cc;
	font-size: 2rem;
	color: white;
}
/*********************************************MAIN*****************************/
.flex-container{
	display: flex;
	/*flex-direction: row;*/
	flex-wrap: wrap;
	margin: 1rem;
}
.house-add{
	margin:0.9rem;
	width: 30%;
	border:1px solid #d9d9d9;
	position: relative;
}
.price{
	position: absolute;
	top: 6rem;
	left: -1.5rem;
	padding: 0.5rem;
	line-height: 2rem;	
	background-color: green;
	color: white;
	border-radius: 20px;
	background: linear-gradient(#5cd65c, #1f7a1f, #5cd65c);
}
.house-add img{
	max-width: 100%;
	border-radius: 10px;
}
.house-add p{
	color: #666;
	margin:1rem;
}
.house-add a{
	margin: 0 1rem 1rem 2rem;
}
.house-add a:hover{
	color:#00e600;
}
/*********************************************FOOTER*****************************/
footer{
	max-width: 85%;
	margin:0 auto;
}
footer ul{
	display: block;
	text-align: center;
	margin-top: 5rem;
}
footer li{
	display: inline-block;
	margin: 1rem 2rem;
}
footer a{
	color: white;
	padding: 1rem;
	transition: 0.5s;
	font-size: 1.2rem;
}
footer a:hover{
	color:black;
	transform:scale(2,2);
	transition: 0.5s; /****************???? kod4l neveikia???*/
}
footer p{
	color: white;
	text-align: center;
	line-height: 2rem;
	margin-bottom: 2rem;
}

/*********************************************MEDIA QUERIES*****************************/
/*********************************************TABLET*****************************/
@media screen and (max-width: 800px){
	.main-header h3,
	.main-header a{
		padding: 0 1rem;
	}
	.main-header ul{
		display: block;
	}
	footer li,
	.main-header li{
		margin: 0em 0.5rem;
		font-size: 1.5rem;
	}
	.text{
		margin-top: 3rem;
	}
	h1{
		font-size: 2rem;
	}
	.text h3{
		font-size: 1.1rem;	
	}
	.container{
		margin-top: -54px;
	}
	.house-add{
		width: 40%;
	}
}
/*********************************************TABLET*****************************/
@media screen and (max-width: 400px){
	video,
	footer .long
	{
		display: none;
	}
	.main-header h3,
	.main-header a{
		padding: 0 1rem;
	}
	.main-header ul{
		display: block;
	}
	footer li,
	.main-header li{
		margin: 0.3rem 0rem;
		font-size: 1.5rem;
	}
	.text{
		margin-top: 3rem;
	}
	h1{
		font-size: 2rem;
	}
	.text h3{
		font-size: 1.1rem;	
	}
	.container{
		max-width: 100%;
		margin-top: 300px;
	}
	.house-add{
		width: 80%;
	}

}